dragonfly
dragonfly-server
fern
*.pl
*.fpl
*.so
/plugins/
/plugins_disabled/
plugin-src/*.so
plugin-src/*.fpl
plugin-src/*/*.so
plugin-src/*/*.fpl
/world/
/worlds/
/players/
/resources/
config.toml
config.json
*.log
*.mcworld
*.ldb
build_all.sh
build_plugin.sh
